<!DOCTYPE html>
<html>

<head>
	<title>Messaging</title>
	<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="basic-messaging.css" />
</head>

<body>
	<div class="overlay">

		<heading class="heading">
			<div class="left">
				<i class="bx bxs-comment-detail primary bx-flip-horizontal comment"></i>
				<div>
					<span class="title">Notifications</span>
					<span id="room_id" class="number">1782</span>
				</div>
			</div>

			<div class="right">
				<span class="name">Leo De Silva</span>
				<i class="bx bxs-user-circle primary user"></i>
			</div>
		</heading>

		<div class="split">
			<div class="sidebar"></div>
			<div class="messages">

				<!--<div class="message-container">
					</div>
					<div class="message-body">
						This is the message body and it contains the text for the chat application, which is written in django and
						javascript it is keeping going
					</div>
			</div>-->

			</div>
		</div>



	</div>
	<div class="message-form">
		<input class="message-input" placeholder="Type something..."></input>
		<div class="send-message">+</div>
	</div>



	</div>


</body>

</html>
